[submodule "themes/whiteplain"]
	path = themes/whiteplain
	url = https://github.com/taikii/whiteplain.git
[submodule "public"]
	path = public
	url = git@github.com:greencountrydsa/greencountrydsa.github.io.git
	branch = master
[submodule "themes/kiera"]
	path = themes/kiera
	url = https://github.com/avianto/hugo-kiera.git
